/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/views/
public/images
public/qrcode
public/report
public/report/customer-report.xlsx
/public/uploads
/public/uploads/image/
/public/uploads/push_voucher/
/public/uploads/csv/
/public/reward_images/
/public/reward_voucher/